* {
  margin: 0;
  padding: 0; }

.screenCanvas {
  text-align: center;
  /*            margin: 0 auto;*/ }

body {
  background-color: #24afe9;
  font-family: 'Dosis', sans-serif;
  min-height: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 100vh; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

a:active {
  color: white; }

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

main {
  width: 90vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  margin-left: 2.5vh;
  top: 0;
  position: absolute;
  left: 0;
  display: none; }
  @media screen and (max-device-width: 375px) {
    main {
      width: 90vw;
      margin-left: 2.5vh; } }
  @media screen and (max-device-width: 414px) {
    main {
      font-size: 1.2em;
      width: 88vw;
      margin-left: 3.25vh; } }
  main header {
    height: 13%;
    position: relative; }
    main header .logo {
      bottom: -12%;
      position: absolute;
      width: 62%;
      height: auto; }
    main header .caption {
      position: absolute;
      right: 30px;
      bottom: 10%;
      width: 33%;
      height: auto; }
  main #video-preview {
    position: relative;
    padding-bottom: 58%; }
    main #video-preview #video-loading-spinner {
      z-index: 200;
      background: url(../img/main/video-spinner-bg.jpg);
      background-size: cover;
      width: 100%;
      padding: 0;
      position: absolute;
      padding-bottom: 58%; }
    main #video-preview .poster-image {
      z-index: 100;
      position: absolute;
      width: 100%;
      opacity: 0; }
      main #video-preview .poster-image img {
        width: 100%; }
    main #video-preview video {
      width: 100%; }
    main #video-preview #video-container {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      -webkit-transition: opacity 500ms ease-out 0;
      -moz-transition: opacity 500ms ease-out 0;
      -o-transition: opacity 500ms ease-out 0;
      transition: opacity 500ms ease-out 0; }
      main #video-preview #video-container.active {
        z-index: 101;
        opacity: 1; }
  main .form-container {
    margin-top: 5px; }
    main .form-container form {
      text-align: right; }
      main .form-container form .ui-helper-hidden-accessible {
        display: none; }
      main .form-container form input {
        width: calc(100% - 2.7em);
        height: 10.25vw;
        margin-bottom: .25em;
        font-family: 'Dosis', sans-serif;
        color: #fff;
        background: url(../img/main/input-bg.jpg) no-repeat left;
        background-size: 100%;
        border: none;
        padding-top: .1em;
        font-size: .98em;
        text-align: center; }
        main .form-container form input:-webkit-autofill {
          background: url(../img/main/input-bg.jpg) no-repeat left; }
      main .form-container form label {
        font-size: .9em;
        color: #1eafeb; }
      main .form-container form aside {
        font-size: 12px;
        width: calc(100% - 4.7em);
        text-align: center;
        padding-left: 13%;
        color: #f360d6; }
      main .form-container form ::-webkit-input-placeholder {
        color: #ffffff; }
      main .form-container form :-moz-placeholder {
        color: #ffffff; }
      main .form-container form ::-moz-placeholder {
        color: #ffffff; }
      main .form-container form :-ms-input-placeholder {
        color: #ffffff; }
      main .form-container form textarea:focus, main .form-container form input:focus, main .form-container form *:focus {
        outline: 0; }
  main #message-selection header {
    color: #1eafeb;
    text-align: center;
    font-size: .9em;
    margin-top: .5em;
    margin-bottom: .5em; }
    @media screen and (min-width: 414px) {
      main #message-selection header {
        margin-bottom: .65em; } }
  main #message-selection nav {
    text-align: center; }
    main #message-selection nav button.bubble {
      font-family: 'Dosis', sans-serif;
      background: url(../img/main/bubble-button-bg@2x.png) no-repeat;
      color: #d747b8;
      width: 140px;
      height: 45px;
      border: 0;
      outline: none;
      background-position-y: -1px;
      line-height: 0px;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      margin: 0.2rem .6rem;
      padding-bottom: 13px;
      font-size: .8rem;
      background-size: 100%;
      vertical-align: top; }
      @media screen and (min-device-width: 414px) {
        main #message-selection nav button.bubble {
          -webkit-transform: scale(1.4);
          transform: scale(1.35);
          -ms-transform: scale(1.35);
          margin: 0.2rem 1.2rem;
          padding-bottom: 17px; } }
      @media screen and (max-device-width: 320px) {
        main #message-selection nav button.bubble {
          -webkit-transform: scale(1);
          transform: scale(1);
          -ms-transform: scale(1);
          margin: 0;
          margin-bottom: -8px; } }
      main #message-selection nav button.bubble:active, main #message-selection nav button.bubble.selected {
        background: url(../img/main/bubble-button-bg-active@2x.png) no-repeat;
        background-size: 100%;
        background-position-y: -1px;
        padding-bottom: 8px;
        height: 45px;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent; }
  main #sharing {
    text-align: center; }
    main #sharing aside {
      color: #1eafeb;
      font-size: 0.9em; }
      @media only screen and (max-device-width: 414px) {
        main #sharing aside {
          padding: 14px 3.5% 0px 0px; } }
      @media only screen and (max-device-width: 320px) {
        main #sharing aside {
          padding: 14px 0% 0px 0px;
          font-size: 0.875em; } }
    main #sharing nav {
      width: calc(38vw - 5px);
      margin: auto; }
      main #sharing nav button {
        list-style: none;
        float: left;
        display: block;
        min-width: 50px;
        min-height: 50px;
        width: 11vw;
        height: 11vw;
        margin-left: 3px;
        border: none;
        background-size: 100%;
        border: 0;
        outline: none;
        background-color: transparent; }
        @media only screen and (max-device-width: 320px) {
          main #sharing nav button {
            width: 18vw;
            height: 18vw; } }
        main #sharing nav button:active {
          border: none;
          outline: none;
          -webkit-tap-highlight-color: transparent; }
        main #sharing nav button.fb {
          background-image: url("../img/main/button-fb@2x.png"); }
          main #sharing nav button.fb:active {
            background-image: url("../img/main/button-fb-active@2x.png"); }
        main #sharing nav button.twitter {
          background-image: url("../img/main/button-twitter@2x.png"); }
          main #sharing nav button.twitter:active {
            background-image: url("../img/main/button-twitter-active@2x.png"); }
        main #sharing nav button.email {
          background-image: url("../img/main/button-email@2x.png"); }
          main #sharing nav button.email:active {
            background-image: url("../img/main/button-email-active@2x.png"); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    main header, main section {
      max-width: 72%;
      margin: auto; }
    main #video-preview {
      padding: 0;
      padding-bottom: 42%; }
      main #video-preview #video-loading-spinner {
        padding-bottom: 58%; }
    main form {
      font-size: 1.5em; }
      main form .form-row {
        padding: 0; }
      main form input {
        height: 7.75vw;
        margin-bottom: .25em; }
    main #message-selection {
      -webkit-transform: scale(1.5);
      margin-top: 59px; }
    main #sharing-nav {
      margin-top: 56px; }
      main #sharing-nav aside {
        font-size: 1.4em;
        padding-left: 50px; }
      main #sharing-nav button {
        max-width: 80px;
        max-height: 80px; } }

ul.ui-autocomplete {
  max-width: calc(94% - 60px);
  background: #ffffff; }
  ul.ui-autocomplete li {
    list-style: none;
    padding: 1px .8em; }
    ul.ui-autocomplete li a {
      color: #1eafeb; }

#main-bg-container {
  background: url(../img/common/main-bg.jpg) no-repeat top left;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f0f0f0;
  min-height: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  opacity: 0; }

@media only screen and (orientation: landscape) {
  #landscape-blocker {
    width: 100%;
    height: 100%;
    width: 105vw;
    height: 105vh;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/common/landscape-blocker.jpg) no-repeat center top;
    background-size: 100%;
    z-index: 9999; }

  main, #landing {
    display: none; } }

/*# sourceMappingURL=app.css.map */
