<div id="big-show">
	<header>
		<img class="logo" src="img/landing/share-a-snug-logo@2x.png" width="185" height="142"/>
		<h1>Share a snug with someone special this Valentine’s Day</h1>
	</header>	
	<div id="big-show-player">
		<div class="poster-image">
			<img src="img/video_preview/1.jpg">
		</div>
		<div id="big-show-video-container">
			<video class="video" id="video-player" controls poster="img/video_preview/1.jpg">
				<source id="mp4" src="<%=  videoURL %>" type="video/mp4">
			</video>
		</div>
	</div>	
</div>