<!-- BigShow Template -->
<header>
	<img class="big-show-logo" src="img/landing/share-a-snug-logo@2x.png"/>
	<h1>Share a snug with someone special this Valentine’s Day</h1>
</header>	
<div id="big-show-player">
	<video class="video" id="video-player" controls poster="img/video_preview/1.jpg">
		<source id="mp4" src="<%=  videoURL %>" type="video/mp4">
	</video>
</div>	
<button id="create-your-own"></button>
<img class="oddcast-logo" src="img/common/oddcast-logo@2x.png" />
<img class="snuggle-logo" src="img/common/snuggle-logo@2x.png" />