<!-- BigShow Template -->
<header>
	<img class="big-show-logo" src="img/landing/share-a-snug-logo@2x.png"/>
	<h1>Share a snug <br />with someone special <br />this Valentine’s Day</h1>
</header>	
<div id="big-show-player">
	<video class="video" id="big-show-video" autoplay controls poster="img/video_preview/<%=  selectedVideo %>.jpg">
		<source id="mp4" src="<%=  videoURL %>" type="video/mp4">
	</video>
</div>	
<button id="create-your-own"></button>
<a href="//oddcast.com/" target="_blank"><img class="oddcast-logo" src="img/common/oddcast-logo@2x.png" /></a>
<a class="snuggledotcom-logo" href="//www.Snuggle.com" target="_blank"><img class="snuggle-logo" src="img/common/snuggle-logo@2x.png" /></a>