<!-- Landing UI Template -->
<header role="banner">
	<img class='logo' src="img/landing/share-a-snug-logo@2x.png" width='185' height='142'/>
	<img class='caption' src="img/landing/customize-and-share@2x.png" width='104' height='32'/>	
</header>

<!-- rendered in video-preview.html -->
<section id="video-preview">
	<div class='loading-spinner' id="video-loading-spinner"><img class="spinner" src="img/common/blue-spinner.gif"/></div>
</section>

<section class="form-container">

	<form>
		<div class="form-row ui-widget">
			<label for="tname">To:</label>
			<input type="text" name="tname" id="tname" placeholder="Type Your Valentine's First Name">
			<aside>Snuggle Bear will say "Valentine" in card if name not found</aside>
		</div>

		<div class="form-row">
			<label for="fname">From:</label>
			<input id="fname" name="fname" placeholder="Type Your First Name">
		</div>
	</form>

</section>

<section id="message-selection">
		
		<header>Select a Message:</header>
		
		<nav>
			<button class="bubble video-select" data-video-name="1">Friendship</button>
			<button class="bubble video-select" data-video-name="2">Hearts</button>
			<button class="bubble video-select" data-video-name="3">Kisses &amp; Snuggles</button>
			<button class="bubble video-select" data-video-name="4">Love You Forever</button>
			<button class="bubble last video-select" data-video-name="5">Snug You This Much</button>			
		</nav>

</section>

<section id="sharing-nav">

	<aside>&amp; Share!</aside>
	
	<nav class="share">
		<button class="fb" ref="Facebook"></button>
		<button class="twitter" ref="Twitter"></button>
		<button class="email" ref="Email"></button>
	</nav>

</section>
<footer>
	<div class="legal">
		<a href="http://www.sunproductscorp.com/Sun_Terms_of_Use_US.html" target="_blank">Terms &amp; Conditions</a> | <a href="http://www.sunproductscorp.com/Sun_Privacy_Policy_US.html" target="_blank">Privacy Policy</a>
	</div>
	<a href="http://oddcast.com/" target="_blank"><img class="oddcast-logo" src="img/common/oddcast-logo@2x.png" /></a>
	<a href="http://www.Snuggle.com" target="_blank"><img class="snuggle-logo" src="img/common/snuggle-logo@2x.png" /></a>
</footer>