<!-- Sharing UI Template -->
<section id="friend-selection">
	<h1  class="beveled" title="- Select a Profile -">- Select a Profile -</h1>
	<nav>
		<button id="move-left"></button>
		<button id="move-right"></button>
	</nav>
	<div id="friend-wrap">
		<div id="friend-container">

		</div>
	</div>
	<button id="back"></button>
</section>
<section class="share-in">
	<h1  class="beveled" title="Share in <%= shareMethod %>">Share in <%= shareMethod %></h1>
	<h2>Click OK Button to continue</h2>
	<button id='ok' class="bubble">OK</button>
</section>
<section class="share-result">
	<h1 class="beveled" title="You’ve successfully shared softness via  <%= shareMethod %>">You’ve successfully shared softness via <%= shareMethod %></h1>
	<h2>To share another Snug, click OK</h2>
	<button id='ok-after' class="bubble">OK</button>
	<h2>Feel the love this Valentine season by visiting us on</h2>
	<nav class="visit">
		<button class="fb" ref="Facebook"  onclick="window.open('//www.facebook.com/Snuggle'); OC_ET.event('ce13');"></button>
		<button class="twitter" ref="Twitter"  onclick="window.open('//twitter.com/Snuggle_Bear'); OC_ET.event('ce14');"></button>
		<button class="instagram" ref="Instagram"  onclick="window.open('//instagram.com/snuggle_bear'); OC_ET.event('ce15');"></button>
	</nav>
	<a class="snuggledotcom-logo" href="//snuggle.com" target="_blank"><img src="img/common/snuggledotcom-logo@2x.png" /></a>
</section>

<img class="oddcast-logo" src="img/common/oddcast-logo.png" />
