<section class="share-in">
	<h1 title="Share in <%= shareMethod %>">Share in <%= shareMethod %></h1>
	<h2>Click OK Button to continue</h2>
	<button id='ok' class="bubble">OK</button>
</section>
<section class="share-result">
	<h1 title="You’ve successfully shared softness via  <%= shareMethod %>">You’ve successfully shared softness via <%= shareMethod %></h1>
	<h2>To continue sharing the Snugs press OK</h2>
	<button id='ok-after' class="bubble">OK</button>
	<h2>or visit us on</h2>
	<nav class="visit">
		<button class="fb" ref="Facebook"></button>
		<button class="twitter" ref="Twitter"></button>
		<button class="instagram" ref="Instagram"></button>
	</nav>
</section>

<img class="oddcast-logo" src="img/common/oddcast-logo.png" />