<section class="share-in">
	<h1 title="Share in <%= shareMethod %>">Share in <%= shareMethod %></h1>
	<h2>Click OK Button to continue</h2>
	<button id='ok' class="bubble">OK</button>
</section>
<section class="share-result">
	<h1 title="You’ve successfully shared softness via  <%= shareMethod %>">You’ve successfully shared softness via <%= shareMethod %></h1>
	<h2>To share another Snug, click OK</h2>
	<button id='ok-after' class="bubble">OK</button>
	<h2>Feel the love this Valentine season by visiting us on</h2>
	<nav class="visit">
		<button class="fb" ref="Facebook"  onclick="window.open('//www.facebook.com/Snuggle');"></button>
		<button class="twitter" ref="Twitter"  onclick="window.open('//twitter.com/Snuggle_Bear');"></button>
		<button class="instagram" ref="Instagram"  onclick="window.open('//instagram.com/snuggle_bear');"></button>
	</nav>
</section>

<img class="oddcast-logo" src="img/common/oddcast-logo.png" />