#big-show {
	width: 90vw;
	top: 0;
	left: 0;
	z-index: 10;	
	margin-left: 0;	
	padding: 5vw;
	padding-top: 0;	
	overflow-y: scroll;
	padding-bottom: 0;
	min-height: 100vh;
	text-align: center;
	position: absolute;

	header {	
		
		img { 
			width: 100%;
			max-width: 350px;
			margin-top: -28%;		
		}
		
		h1 {
			font-size: 1.2em;
			color: #00569c;
		}
	}

	video {
		width: 100%;
	}

	.snuggle-logo {
		float: left;
		position: absolute;
		bottom: 15px;
		left: 15px;
		width: 91px;
	}

	.oddcast-logo {
		position: absolute;
		bottom: 10px;
	}	

	button{
		width: 60%;
		padding-bottom: 9%;
		background: url('img/big_show/create-your-own@2x.png') no-repeat left;
		background-size: 100%;
	}
}