// base
* {
    margin:0;
    padding:0;
}

.screenCanvas {
    text-align: center;
/*            margin: 0 auto;*/
}

body {
    background-color: $bg-color;
    font-family: 'Dosis', sans-serif;
    min-height:100%;
    height: 100%;
    height:100vh;
    width: 100vw;
    min-height:100vh;
}


a:link {        color: white;}
a:visited {     color: white;}
a:hover {       color: white;}
a:active {      color: white;}

button{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}