// base
* {
    margin:0;
    padding:0;
}

.screenCanvas {
    text-align: center;
/*            margin: 0 auto;*/
}

body {
    background-color: $bg-color;
    font-family: 'Dosis', sans-serif;
    min-height:100%;
    height: 100%;
    height:100vh;
    width: 100vw;
    min-height:100vh;
}


a:link {        color: white;}
a:visited {     color: white;}
a:hover {       color: white;}
a:active {      color: white;}

button{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    &.bubble {
        font-family: 'Dosis', sans-serif;
        background: url(../img/main/bubble-button-bg@2x.png) no-repeat;
        color: #d747b8;
        width: 140px;
        height: 45px;
        border: 0;
        outline: none;
        background-position-y: -1px;
        line-height: 0px;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        margin: 0.2rem .6rem;   
        padding-bottom: 13px;
        font-size: .8rem;
        background-size: 100%;
        vertical-align: top;


        @media screen and (min-device-width: $iphone6plus) {    
            -webkit-transform: scale(1.4);
            transform: scale(1.35);
            -ms-transform: scale(1.35);
            margin: 0.2rem 1.2rem;
            padding-bottom: 17px;
        }
        
        @media screen and (max-device-width: $break-small) {                
            -webkit-transform: scale(1);
            transform: scale(1);
            -ms-transform: scale(1);
            margin: 0;
            margin-bottom: -8px;
        }

        &:active, &.selected{
            background: url(../img/main/bubble-button-bg-active@2x.png) no-repeat;              
            background-size: 100%;
            background-position-y: -1px;
            padding-bottom: 8px;
            height: 45px;
            -webkit-tap-highlight-color: transparent;           
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }
}