main#landing{
	width: 90vw;
	// height: 100vh;
	top: 0;
	left: 0;
	z-index: 10;	
	margin-left: 0;
	top: 0;
	position: absolute;
	left: 0;
	padding: 5vw;
	padding-top: 0;
	display: none;
	overflow-y: scroll;
	padding-bottom: 0;
	min-height: 100vh;

	&.loaded{
		position: relative;
	}
	
	.snuggle-logo{
		float: left;
		position: absolute;
		bottom: 15px;
		left: 15px;
		width: 91px;
	}
	

	@media screen and (max-device-width: $iphone6plus) {					
		font-size: 1.2em;
		width: 82vw;
		padding: 0 9vw;	
		.oddcast-logo{
			position: absolute;
			bottom: 10px;
		}	
	}
	@media screen and (max-device-width: $iphone6) {			
		font-size: 1.1em;
		width: 87vw;
		padding: 0 6vw;		

		.oddcast-logo{
			position: relative;			
		}	
	}

	header{
		height: 13vh;
		position: relative;	
		@media screen and (max-device-width: $iphone6plus) {	
			height: 12vh;
		}
		.logo{
			bottom: -12%;
			position: absolute;
			width: 62%;
			height: auto;
		}

		.caption{
			position: absolute;
			right: 30px;
			bottom: 10%;
			width: 33%;
			height: auto;
		}
	}

	#video-preview{
		position: relative;
		padding-bottom: 58%;

		#video-loading-spinner{
			
		}

		.video-wrapper{
			// display: none;

		}

		.poster-image{
			z-index: 100;
			position: absolute;			
			width: 100%;
			opacity: 0;
			img{
				width: 100%;
			}
		}

		video{
			width: 100%;
		}

		#video-container{
			position: absolute;
			top: 0;			
			width: 100%;
			z-index: 1;
			opacity: 0;
			 -webkit-transition: opacity 500ms ease-out 0;
	        -moz-transition: opacity 500ms ease-out 0;
	        -o-transition: opacity 500ms ease-out 0;
	        transition: opacity 500ms ease-out 0;

			&.active{
				z-index: 101;
				opacity: 1;
			}
		}
	}
	.form-container{
		margin-top: 5px;

		form{
			text-align: right;				

			.ui-helper-hidden-accessible{
				display: none;
			}
			
			input{			
				width: calc(100% - 2.7em);
				height: 10.25vw;
				margin-bottom: .25em;
				font-family: $font-family, sans-serif;
				color: #fff;
				background: url(../img/landing/input-bg.jpg) no-repeat left;
				background-size: 100%;		
				border: none;
				padding-top: .1em;
				font-size: .98em;
				text-align: center;		
				
				&:-webkit-autofill{
					background: url(../img/landing/input-bg.jpg) no-repeat left;
				}
			}

			label{
				font-size: .9em;
				color: $light-blue;
			}

			aside{			
				font-size: 10px;
				width: calc(100% - 4.7em);
				text-align: center;
				padding-left: 14%;
				color: #f360d6;
			}

			::-webkit-input-placeholder{ color: #ffffff;}
			:-moz-placeholder{ color: #ffffff;}
			::-moz-placeholder{ color: #ffffff;}
			:-ms-input-placeholder{ color: #ffffff;}
			
			textarea:focus, input:focus, *:focus{
			    outline: 0;
			}
		}
	}

	#message-selection {
		
		header{
			color: $light-blue;
			text-align: center;
			font-size: .9em;
			margin-top: .5em;
			margin-bottom: .5em;
			height: auto;

			@media screen and (min-width: $iphone6plus) {	
				margin-bottom: .65em;			
			}
		}

		nav {
			text-align: center;

			button.bubble {
				


				@media screen and (max-device-width: $iphone6plus) {	
					margin: 0.2rem .75rem;
					-webkit-transform: scale(1.25);
					transform: scale(1.25);
					-ms-transform: scale(1.25);					
					padding-bottom: 17px;
					&:active, &.selected{
						padding-bottom: 8px;
					}	
				}
				
				@media screen and (max-device-width: $iphone6) {				
					margin: 0rem .6rem;
				}

				
			}
		}
	}

	#sharing-nav{		
		text-align: center;
		margin-top: -15px;

		aside{
			color: $light-blue;						
			font-size: 0.9em;
			
			@media only screen and (max-device-width : $iphone6plus) {
				padding: 14px 3.5% 0px 0px;			
			}

			@media only screen and (max-device-width : $break-small) {
				padding: 14px 0% 0px 0px;
				font-size: 0.875em;
			}
		}

	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
	{ 
		header, section{
			max-width: 72%;
			margin: auto;
		}

		#video-preview{
			padding: 0;
			padding-bottom: 42%;

			#video-loading-spinner{
				padding-bottom: 58%;
			}
		}

		form {
			font-size: 1.5em;

			.form-row{
				padding: 0;
			}

			input{
				height: 7.75vw;
				margin-bottom: .25em;
			}
		}

		#message-selection{
			-webkit-transform: scale(1.5);
			margin-top: 59px;			
		}

		#sharing-nav{
			margin-top: 56px;

			aside{
				font-size: 1.4em;
				padding-left: 50px;
			}

			button{
				max-width: 80px;
				max-height: 80px;
			}
		}
	}
}

ul.ui-autocomplete{	
	max-width: calc(94% - 60px);
	background: #d0e4ef;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: 6px;
   	z-index: 100;

	li{
		list-style: none;
		padding: 1px .8em;
		
		a{
			color: $light-blue;
		}
	}
}

#main-bg-container{
    background: url(../img/common/main-bg.jpg) no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f0f0;
    min-height:100%;
    height: 100%;
    height:100vh;
    width: 100vw;
    min-height:100vh;
    opacity: 0;
    position: fixed;
    z-index: 0;
    top: 0;
	left: 0;
	display: none;
}

