#landing{
	background: url('../img/landing-bg.jpg') no-repeat left top;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	width: 100vw;
    height: 100vh;
	
	.loading-bar{
		background: url('../img/loading-bar-bg.png') no-repeat left top;
		float: left;
		position: absolute;
		left: 50%;
		width: 395px;
		height: 192px;
		bottom: -3%;
		margin-left: -197.5px;
		
		.loading-heart{
			position: absolute;
			top: 12px;
			right: 19px;
			display: none;
		}
		
		.loading-bar-fill{			
			position: absolute;
			top: 26px;
			left: 73px;
			width: 6px;
			overflow: hidden;			
		}
	}
	
	.landing-text{
		text-align: center;
		color: #ffffff;
		font-size: 1.375em;
		margin-top: -6%;
		margin-top: -25px;
		float: left;
		width: 60%;
		margin-top: -6%;
		padding: 20%;
		padding-top: 0;
	}

	.landing-logo{		
		text-align: center;
		padding-top: 3%;
		text-align: center;
		margin-top: -25%;
		float: left;
		margin-left: auto;
		width: 100%;
		
		img{
			width: 100%;
			max-width: 400px;
		}
	}
	
	.landing-oddcast-logo{
		
		position: absolute;
		left: 50%;
		margin-left: -70px;
		bottom: 111px;
		width: 140px;

		img{
			width: 100%;
			max-width: 140px;
		}
	}

	.cloud{
		position: absolute;

		img{
			width: 100%;
		}
		
		&.top-right{
			top: 3%;
			right: -66px;
			width: 211px;
			float: right;
			position: relative;
			position: relative;
		}

		&.top-left{
			width: 112px;
			top: 13%;
			left: -10%;
		}

		&.bottom-middle{
			bottom: 0;
			left: 3%;
			float: left;
			width: 195px;		
			z-index: 10;
			height: 67px;
			overflow: hidden;
		}
	}
}