main{
	width: 90vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
	margin: auto;
	min-height: 620px;
	
	header{
		height: 13%;
		position: relative;	

		.logo{
			bottom: -12%;
			position: absolute;
			width: 62%;
			height: auto;
		}

		.caption{
			position: absolute;
			right: 30px;
			bottom: 10%;
			width: 33%;
			height: auto;
		}
	}

	#video-preview{
		position: relative;
		padding-bottom: 58%;

		#video-loading-spinner{
			z-index: 200;
			background: url(../img/main/video-spinner-bg.jpg);
			background-size: cover;
			width: 100%;
			padding: 0;
			position: absolute;
			padding-bottom: 64%;
		}

		.video-wrapper{
			// display: none;

		}

		.poster-image{
			z-index: 100;
			position: absolute;			
			width: 100%;
			opacity: 0;
			img{
				width: 100%;
			}
		}

		video{
			width: 100%;
		}

		#video-container{
			position: absolute;
			top: 0;			
			width: 100%;
			z-index: 1;
			opacity: 0;
			 -webkit-transition: opacity 500ms ease-out 0;
	        -moz-transition: opacity 500ms ease-out 0;
	        -o-transition: opacity 500ms ease-out 0;
	        transition: opacity 500ms ease-out 0;

			&.active{
				z-index: 101;
				opacity: 1;
			}
		}
	}
	.form-container{
		margin-top: 5px;

		form{
			text-align: right;				

			.ui-helper-hidden-accessible{
				display: none;
			}
			
			input{			
				width: calc(100% - 40px);
				height: 10.25vw;
				margin-bottom: .25em;
				font-family: 'Dosis', sans-serif;
				color: #fff;
				background: url(../img/main/input-bg.jpg) no-repeat left;
				background-size: 100%;		
				border: none;
				padding-top: .1em;
				font-size: .98em;
				text-align: center;		
				
				&:-webkit-autofill{
					background: url(../img/main/input-bg.jpg) no-repeat left;
				}
			}

			label{
				font-size: .9em;
				color: $light-blue;
			}

			::-webkit-input-placeholder{ color: #ffffff;}
			:-moz-placeholder{ color: #ffffff;}
			::-moz-placeholder{ color: #ffffff;}
			:-ms-input-placeholder{ color: #ffffff;}
			
			textarea:focus, input:focus, *:focus{
			    outline: 0;
			}
		}
	}

	#message-selection {
		
		header{
			color: $light-blue;
			text-align: center;
			font-size: .9em;
			margin-top: .5em;
			margin-bottom: .5em;
		}

		nav {
			text-align: center;

			button.bubble {
				font-family: 'Dosis', sans-serif;
				background: url(../img/main/bubble-button-bg@2x.png) no-repeat;
				color: #d747b8;
				width: 140px;
				height: 45px;
				border: 0;
				outline: none;
				background-position-y: -1px;
				line-height: 0px;
				padding-bottom: 13px;
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
				-ms-transform: scale(1.2);
				margin: 0.2rem .6rem;
				font-size: .8em;
				background-size: 100%;
				vertical-align: top;

				@media screen and (max-width: $break-small) {				
					-webkit-transform: scale(1);
					transform: scale(1);
					-ms-transform: scale(1);
					margin: 0;
					margin-bottom: -8px;
				}

				&:active, &.selected{
					background: url(../img/main/bubble-button-bg-active@2x.png) no-repeat;				
					background-size: 100%;
					background-position-y: -1px;
					padding-bottom: 8px;
					height: 45px;
					-webkit-tap-highlight-color: transparent;			
					-webkit-tap-highlight-color: rgba(0,0,0,0);
				}
			}
		}
	}

	#sharing{
		margin-top: 6px;

		aside{
			color: $light-blue;
			float: left;
			padding: 22px 0px 0px 0px;
			font-size: 0.9em;
		}

		nav{
			
			button{
				list-style: none;
				float: left;
				display: block;
				min-width: 50px;
				min-height: 50px;
				width: 19vw;
				height: 19vw;
				margin-left: 3px;
				border: none;
				background-size: 100%;
				border: 0;
				outline: none;
				background-color: transparent;
				
				&:active{
					border: none;
					outline: none;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
				}

				&.fb{
					background-image: url('../img/main/button-fb@2x.png');

					&:active{
						background-image: url('../img/main/button-fb-active@2x.png');
					}
				}

				&.twitter{
					background-image: url('../img/main/button-twitter@2x.png');

					&:active{
						background-image: url('../img/main/button-twitter-active@2x.png');
					}
				}

				&.email{
					background-image: url('../img/main/button-email@2x.png');

					&:active{
						background-image: url('../img/main/button-email-active@2x.png');
					}
				}

			}
		}
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
	{ 
		header, section{
			max-width: 72%;
			margin: auto;
		}

		#video-preview{
			padding: 0;
			padding-bottom: 42%;

			#video-loading-spinner{
				padding-bottom: 58%;
			}
		}

		form {
			font-size: 1.5em;

			.form-row{
				padding: 0;
			}

			input{
				height: 7.75vw;
				margin-bottom: .25em;
			}
		}

		#message-selection{
			-webkit-transform: scale(1.5);
			margin-top: 59px;			
		}

		#sharing{
			margin-top: 56px;

			aside{
				font-size: 1.4em;
				padding-left: 50px;
			}

			button{
				max-width: 80px;
				max-height: 80px;
			}
		}
	}
}

ul.ui-autocomplete{	
	max-width: calc(94% - 60px);
	background: #ffffff;

	li{
		list-style: none;
		padding: 1px .8em;
		
		a{
			color: $light-blue;
		}
	}
}

