main{
	background: url(../img/common/main-bg.jpg) no-repeat top left;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display:none;
	min-height: 620px;

	header{
		height: 15%;
		position: relative;		

		.logo{
			bottom: -12%;
			position: absolute;
			width: 62%;
			height: auto;
		}

		.caption{
			position: absolute;
			right: 30px;
			bottom: 10%;
			width: 33%;
			height: auto;
		}
	}

	#video-preview{
		padding: 0 18px;
		position: relative;
		padding-bottom: 54%;
		width: calc(100% - 77px);
		
		.video-wrapper{
			// display: none;

		}

		.poster-image{
			z-index: 100;
			position: absolute;			
			width: 100%;			
		}

		video{
			width: 100%;
		}
		
		img{
			width: 100%;
		}

		#video-container{
			position: absolute;
			top: 0;			
			width: 100%;
			z-index: 1;
			opacity: 0;
			 -webkit-transition: opacity 500ms ease-out 0;
	        -moz-transition: opacity 500ms ease-out 0;
	        -o-transition: opacity 500ms ease-out 0;
	        transition: opacity 500ms ease-out 0;

			&.active{
				z-index: 101;
				opacity: 1;
			}
		}
	}

	form{
		text-align: right;		

		.form-row{
			padding-right: 20px;
		}

		.ui-helper-hidden-accessible{
			display: none;
		}
		
		input{			
			width: calc(94% - 40px);
			height: 10.25vw;
			margin-bottom: .55rem;//9px;
			font-family: 'Dosis', sans-serif;
			color: #fff;
			background: url(../img/main/input-bg.jpg) no-repeat left;
			background-size: 100%;			
			border: none;
			padding-top: .1rem;//2px;
			font-size: .98rem;//15px;
			text-align: center;		
			
			&:-webkit-autofill{
				background: url(../img/main/input-bg.jpg) no-repeat left;
			}
		}

		label{
			font-size: .9em;
			color: $light-blue;
		}

		::-webkit-input-placeholder{ color: #ffffff;}
		:-moz-placeholder{ color: #ffffff;}
		::-moz-placeholder{ color: #ffffff;}
		:-ms-input-placeholder{ color: #ffffff;}
		
		textarea:focus, input:focus, *:focus{
		    outline: 0;
		}
		
	}

	#message-selection {
		
		header{
			color: $light-blue;
			text-align: center;
			font-size: .9rem;
			margin-top: .4rem;
			margin-bottom: .2rem;
		}

		nav {
			text-align: center;

			button.bubble {
				font-family: 'Dosis', sans-serif;
				background: url(../img/main/bubble-button-bg@2x.png) no-repeat;
				color: #d747b8;
				width: 147px;
				height: 44px;
				border: 0;
				outline: none;
				background-position-y: -1px;
				line-height: 0px;
				padding-bottom: 13px;
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
				-ms-transform: scale(1.3);
				margin: 0.35rem 1.2rem;
				font-size: .8em;
				background-size: 100%;
				vertical-align: top;

				@media screen and (max-width: $break-small) {				
					-webkit-transform: scale(1);
					transform: scale(1);
					-ms-transform: scale(1);
					margin: 0;
					margin-bottom: -8px;
				}

				&:active, &.selected{
					background: url(../img/main/bubble-button-bg-active@2x.png) no-repeat;				
					background-size: 100%;
					background-position-y: -1px;
					padding-bottom: 4px;
					height: 37px;
					-webkit-tap-highlight-color: transparent;			
					-webkit-tap-highlight-color: rgba(0,0,0,0);
				}

				&.last{

					&:active, &.selected{
						margin-bottom: 13px;
					}
				}
			}
		}
	}

	#sharing{
		margin-top: 6px;

		aside{
			color: $light-blue;
			float: left;
			padding: 22px 0px 0px 20px;
			font-size: 0.9rem;
		}

		nav{
			
			button{
				list-style: none;
				float: left;
				display: block;
				min-width: 50px;
				min-height: 50px;
				width: 19vw;
				height: 19vw;
				margin-left: 2%;
				border: none;
				background-size: 100%;
				border: 0;
				outline: none;
				background-color: transparent;
				
				&:active{
					border: none;
					outline: none;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
				}

				&.fb{
					background-image: url('../img/main/button-fb@2x.png');

					&:active{
						background-image: url('../img/main/button-fb-active@2x.png');
					}
				}

				&.twitter{
					background-image: url('../img/main/button-twitter@2x.png');

					&:active{
						background-image: url('../img/main/button-twitter-active@2x.png');
					}
				}

				&.email{
					background-image: url('../img/main/button-email@2x.png');

					&:active{
						background-image: url('../img/main/button-email-active@2x.png');
					}
				}

			}
		}
	}
	
}

ul.ui-autocomplete{	
	max-width: calc(94% - 60px);
	background: #ffffff;

	li{
		list-style: none;
		padding: 1px .8rem;
		
		a{
			color: $light-blue;
		}
	}
}

