#sharing{
	background: transparent;
	position: absolute;
	width: 100%;
	text-align: center;
	height: 100vh;	
	z-index: 1;

	.share-in, .share-result{
		background: transparent;
		top: 50%;
		position: relative;
		margin-top: -100px;
	}
	h1{
		color: #ffffff;
		font-size: 2.25em;
		display: block;		
		position: relative;
		text-shadow: 0px 1px 1px rgba(32, 175, 235, 0.55);
		padding-bottom: 0;
		padding-top: 1px;
		text-align: center;

		&:before, &:after {			 			   
			content: attr(title);			
			color: #2d92e8;
			position: absolute;
			text-shadow: none;
			width: 100%;
		}

		&:before { 
			top: 0px; left: 0px;
		 }
		&:after  { 
			top: 0px;
			left: 0px;
			color: rgba(0, 99, 169, 0.86);
		}
	}
	h2{
		color: #00569c;
		font-size: 1.3em;
		padding: 30px;
	}
	nav{
		width: calc(38vw - 5px);
        margin: auto;
	}
	
	.oddcast-logo{
		bottom: 10px;
		position: absolute;
	}	
}

